:root {
    font-size: 30px;
    font-family:'Pixelify Sans';
    --primarybg-color: #000000;
    --primarytxt-color: rgb(51, 255, 0);
    --selected-color: red;
    --nav-height: 3rem;
}

body {
    color: var(--primarytxt-color);
    background-color: var(--primarybg-color);
    margin: 0;
    padding: 0;   
}

.Navbar {
    height: 3rem;
    width: 100%;
    background-color: rgb(68, 68, 68);
    display: flex;
    box-shadow: 0px 5px 2px 1px #33ff00;
}

.Navbar-Nav {
    margin: 0;
    padding: 0;  
    display: flex;
    justify-content: space-around;
    max-height: 3rem;
    width: 100%;
}

@keyframes navbar_img{
    from{margin:10px 1rem}
    to{margin: 13px 3rem}
}

@keyframes rev_navbar_img{
    from{margin: 13px 3rem}
    to{margin:10px 1rem}
}


.Nav-item {
    background-image: url("box.png");
    background-size: 100% 100%;
    margin: 10px 1rem;
    list-style: none;
    width: 7rem;
    text-align: center;
    line-height: 70px;
    font-size: 0.75rem;
    animation-name: rev_navbar_img;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Nav-item:hover {
    background-image: url("redvbox.png");
    background-size: 100% 100%;
    margin: 10px 1rem;
    list-style: none;
    width: 7rem;
    text-align: center;
    line-height: 70px;
    font-size: 0.75rem;
    animation-name: navbar_img;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

a:link {
    text-decoration: none;
}

@keyframes greentored {
    from{color: var(--primarytxt-color)}
    to{color: var(--selected-color)}
    form{text-shadow: 4px 4px 10px #33ff00}
    to{text-shadow: 4px 4px 10px red}
}    

@keyframes rev_greentored {
    from{color: var(--selected-color)}
    to{color: var(--primarytxt-color)}
    from{text-shadow: 4px 4px 10px red}
    to{text-shadow: 4px 4px 10px #33ff00}
}    

.Nav-link {
    color: var(--primarytxt-color);
    text-shadow: 4px 4px 10px #33ff00;
    animation-name: rev_greentored;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Nav-link:hover {
    color: var(--primarytxt-color);
    text-shadow: 4px 4px 10px #33ff00;
    animation-name: greentored;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.highlight {
    color:darkmagenta;
}

#img {
    float: right;
    margin: 1rem;
    border: 10px outset darkmagenta;
}

main{
    margin: 3rem 2rem;

}

@keyframes contactimg{
    from{margin:2rem 2rem}
    to{margin: 3rem 3rem}
}

@keyframes rev_contactimg{
    from{margin: 3rem 3rem}
    to{margin:2rem 2rem}
}

.contacts{
    height: 120px;
    margin: 2rem 2rem;
    background-image: url("longbox.png");
    background-size: 100% 100%;
    animation-name: rev_contactimg;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.contacts:hover{
    height: 120px;
    margin: 2rem 2rem;
    background-image: url("longboxred.png");
    background-size: 100% 100%;
    animation-name: contactimg;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}